<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARQA7E7jxTQm7O3YoK6-AQ3Ir4eUkgbNo</string>
	<key>GCM_SENDER_ID</key>
	<string>1015383982092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuentuenna.ppakcoding-todo</string>
	<key>PROJECT_ID</key>
	<string>freechat-e9211</string>
	<key>STORAGE_BUCKET</key>
	<string>freechat-e9211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015383982092:ios:51ea15eedd0826d2b92e29</string>
</dict>
</plist>